* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: black;
}
img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    width: 80%;
}

.links_header {
    margin-right: 40px;
}

.logo_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_header img {
    width: 50px;
}

.logo_header h1 {
    font-weight: normal;
}

.links_header ul {
    display: flex;
    flex-direction: row;
}

.links_header li, .icons_header li {
    margin: 15px;   
}

.icons_header ul {
    display: flex;
}

.links_header a:hover, .icons_header span:hover, .links_actif {
    font-weight: bold;
    color:#56B280;
}

/* Jumbotron */

#jumbotron {
    background-image: url(./assets/images/jumbotron.png);
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotron_box {
    background-color: #eee9e8f1;
    width: 45%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}

#jumbotron_text h2{
    margin: 10px;
    margin-top: 20px;
    font-size: 35px;
    font-weight: normal;
}

#jumbotron_text p {
    font-size: 14px;
    display: inline-block;
    width: 500px;
}

#jumbotron_button button {
    background-color: #56B280;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 35%;
    margin-bottom: 30px;
    border: #56B280;
}

#jumbotron_button button:hover {
    cursor: pointer;
}

/* Sélection du moment */

#shop {
    background-color: #daeff1;
}

.image_container {
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

#selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
    width: 80%;
    margin: auto;
}

#selection ul {
    display: flex;
}

#selection h2 {
    padding: 20px;
    font-weight: normal;
    font-size: 30px;
}

#button_discovery {
    background-color: #56B280;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    margin: 15px;
}

#shop_description p {
    margin-bottom: 20px;
    display: inline-block;
    width: 700px;
    font-size: 15px;
}

#selection li {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
}

.menu {
    padding: 10px;
}

.price_quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.price {
    color: #33a9ff;
}
/*  */
.quantity {
    border: 1px solid gray;
    width: 90px;
    border-radius: 5px;
    text-align: center;
}

.quantity_value {
    border: 1px solid gray;
    margin: 10px;
}

.decrease, .increase {
    border: none;
    background-color: white;
    font-size: 20px;
}