* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #2A3342;
}

.creer_compte_contener{
    display: flex;
}
label{
    font-weight: bold;
}
input{
    border-radius: 5px;
    padding: 10px 50px;
}
.form{
    width: 50%;
}
.contener_img{
    flex-basis: 50%;
}
.contener_img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
form {
    flex-basis: 50%;
}