* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: #2A3342;
}
.contact{
    background-color: #F4F6F6;
}
.contact_conteneur{
    display: flex;
}
label{
    font-weight: 500;
}
input{
    margin-top: 5px;
    border: 1px solid #D5DAE1;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}
form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.form{
    width: 60%;
    margin-top: 20px;
}
.conteneur_img{
    flex-basis: 50%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-image: url(./contact_photo.jpg);
}
.ligne_un{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ligne_deux{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}
.prenom{
    flex-grow: 1;
}
.nom{
    flex-grow: 1;
}
.contact_email{
    flex-grow: 1;
}
.num_tel{
    flex-grow: 1;
}
.text_area{
    margin-top: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
textarea{
    width: 100%;
}
#textarea{
    margin-top: 5px;
    align-self: center;
    border: 1px solid #D5DAE1;
    border-radius: 6px;
    padding: 10px;
}
#envoyer_boutton{
    margin-top: 15px;
    background-color: #56B280;
    color: white;
    padding: 10px;
    width: 100%;
    border-style: none;
    border-radius: 10px;
}
#envoiyer_boutton:hover{
    cursor: pointer;
    background-color: #468b65;
}
@media screen  and (max-width: 992px){
    .form{
        width: 90%;
        margin-top: 20px;
    }
    input{
        font-size: 13px;
        display: flex;
        flex-direction: column;

        width: 100%;
    }
    #envoiyer_boutton{
        margin-top: 15px;
        background-color: #56B280;
        color: white;
        padding: 10px 148px;
        border-style: none;
        border-radius: 10px;
    }
}
@media screen and (max-width: 600px) {
    .ligne_un{
        flex-direction: column;
    }
    .ligne_deux{
        flex-direction: column;
        margin-top: 0px;
    }
    .prenom{
        width: 100%;
        margin-right: 0px;
    }
    .contact_email{
        width: 100%;
        margin-right: 0px;
    }
    .nom{
        width: 100%;
    }
    .num_tel{
        width: 100%;
    }
    .conteneur_img{
        display: none;
    }
    form{
        width: 70%;
    }
    .form{
        width: 95%;
    }
    input{
        font-size: 10px;
        display: flex;
        flex-direction: column;
        padding: 5px; 
        width: 100%;
    }
    h2{
        font-size: 18px;
        margin-top: 20px;
    }
    label{
        font-size: 10px;
    }
    textarea{
        width: 100%;
        font-size: 10px;
    }
    #envoyer_boutton{
    margin-top: 10px;
    background-color: #56B280;
    color: white;
    padding: 5px;
    border-style: none;
    border-radius: 10px;
    }
}
